<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="./css/empty.css" />
  </head>
  <body>
    <div class="main">
      <header>
        <a href="/index.html" class="logo">ИЦЛПД</a>
        <div class="title">
          <h1>Title</h1>
        </div>
        <nav>
          <div class="navbar">
            <ul class="nav-list">
              <li>
                <a class="nav-link" href="/index.html">Главная</a>
              </li>
              <li>
                <a class="nav-link" href="./materials.html"
                  >Статьи, Материалы</a
                >
              </li>
              <li>
                <a class="nav-link" href="./purposes.html">Услуги</a>
              </li>
              <li>
                <a class="nav-link" href="./history.html">История</a>
              </li>
              <li>
                <a class="nav-link" href="./contacts.html">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="main-content"></div>

      <footer>
        <div class="footer-line"></div>
        <p class="footer-text">
          Copyright © 2024 Специальные Способы Литья Черных и цветных сплавов.
          Все права защищены.
        </p>
      </footer>
    </div>
  </body>
</html>
