<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="./css/materials.css" />
  </head>
  <body>
    <div class="main">
      <header>
        <a href="/index.html" class="logo">ИЦЛПД</a>
        <div class="title">
          <h1>Статьи и Материалы</h1>
        </div>
        <nav>
          <div class="navbar">
            <ul class="nav-list">
              <li>
                <a class="nav-link" href="/index.html">Главная</a>
              </li>
              <li>
                <a class="nav-link current" href="./materials.html"
                  >Статьи, Материалы</a
                >
              </li>
              <li>
                <a class="nav-link" href="./purposes.html">Услуги</a>
              </li>
              <li>
                <a class="nav-link" href="./history.html">История</a>
              </li>
              <li>
                <a class="nav-link" href="./contacts.html">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="main-content">
        <div class="content-block">
          <p class="content-title">Литье Алюминиевых Сплавов</p>
          <iframe
            width="647"
            height="364"
            src="https://www.youtube.com/embed/ncaO5AbBrcY"
            title="Видео литья детали корпуса мясорубки"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <p class="content-description">(Литье корпуса мясорубки)</p>
          <a
            class="doc-link"
            href="https://drive.google.com/open?id=1IYexnbFkTqRkqFkhBTaz0RKwroAjE__Q"
            >Плавка Алюминиевых Сплавов.docx</a
          >
        </div>
        <hr class="content-line" />

        <div class="content-block">
          <p class="content-title">Схема Контроля Сплавов</p>
          <img src="../img/splav-control.png" alt="splav-control" />
        </div>
        <hr class="content-line" />

        <div class="content-block">
          <p class="content-title">Вакуумирование</p>
          <iframe
            width="647"
            height="364"
            src="https://www.youtube.com/embed/HuGexfelsX4"
            title="Видео литья детали гидромуфты"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <p class="content-description">(Литье детали гидромуфты)</p>
        </div>
        <hr class="content-line" />

        <div class="content-block">
          <p class="content-title">Гидравлика</p>
          <img src="../img/hydravlic.png" alt="splav-control" />
        </div>
        <hr class="content-line" />

        <div class="content-block">
          <p class="content-title">Магниевые Cплавы</p>

          <a
            class="doc-link"
            href="https://drive.google.com/open?id=1gNdON3KzoyNC18nH45w5ac6IM2gRJHY6"
            >Презентация "Протектор Магниевый"</a
          >
        </div>
        <hr class="content-line" />

        <div class="content-block">
          <p class="content-title">Доп. материалы:</p>

          <ul class="dop-list">
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1HkEYATPexKxjOk6mKb94x_VIvgKBcCkc"
                >Модернизация технологии и оборудования литья под
                давлением.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1WdjQpEF0VKLnn8-VKA8CjKpnFHqUtyjl"
                >Сплав науки и предпринимательского духа.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1tPjN0-q5KCsdAgZtaRgu4gV13LfjnVlC"
                >О пресс-формах для литья под давлением.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1Yp2h_T_TXs934MCzWGSzgJDM4SPCKD5g"
                >Литье под давлением. Технологические условия повышения
                качества.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1hErk_ggcBkizMrhV7vS0UiO6Gf1tuavJ"
                >Литье под давлением. Современные достижения и тенденции
                развития.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/open?id=1essTK8XBlGta3pa9CArBUEfIz-HfoFiF"
                >Объединение спецспособов литья.pdf</a
              >
            </li>
            <li>
              <a
                class="doc-link"
                href="https://drive.google.com/file/d/1oHNn4HAzHl8hX2aXImgyU2pF1X_kuMJS/view?usp=sharing"
                >Лидеры.pdf</a
              >
            </li>
          </ul>
        </div>
      </div>

      <footer>
        <div class="footer-line"></div>
        <p class="footer-text">
          Copyright © 2024 Специальные Способы Литья Черных и цветных сплавов.
          Все права защищены.
        </p>
      </footer>
    </div>
  </body>
</html>
