<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="./css/purposes.css" />
  </head>
  <body>
    <div class="main">
      <header>
        <a href="/index.html" class="logo">ИЦЛПД</a>
        <div class="title">
          <h1>Услуги</h1>
        </div>
        <nav>
          <div class="navbar">
            <ul class="nav-list">
              <li>
                <a class="nav-link" href="/index.html">Главная</a>
              </li>
              <li>
                <a class="nav-link" href="./materials.html"
                  >Статьи, Материалы</a
                >
              </li>
              <li>
                <a class="nav-link current" href="./purposes.html">Услуги</a>
              </li>
              <li>
                <a class="nav-link" href="./history.html">История</a>
              </li>
              <li>
                <a class="nav-link" href="./contacts.html">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="main-content">
        <p class="p1">
          Многолетний опыт научно-практической работы с ведущими предприятиями
          страны и Европы позволяет сформулировать услуги в области специальных
          способов литья черных и цветных сплавов:
        </p>
        <ul class="list">
          <li>
            <p>
              <span class="li-bold-titles">Проведение аудита</span> технологии и
              оборудования действующего производства или отдельно взятого
              оборудования;
            </p>
          </li>
          <li>
            <p>
              <span class="li-bold-titles"
                >Проведение предпроектных исследований</span
              >
              в необходимом объеме на соответствие современному уровню и
              техническому состоянию для разработки технического задания по
              перевооружению и модернизации действующих производств;
            </p>
          </li>
          <li>
            <p>
              <span class="li-bold-titles"
                >Разработка исходных данных и техзаданий</span
              >
              для проектирования новых производств и выполнение в полном объеме
              предусмотренных совместных работ с ГИПРО;
            </p>
          </li>
          <li>
            <p>
              <span class="li-bold-titles"
                >Выполнение необходимых расчетов</span
              >
              технологий и проектов технологического оборудования по
              специализации. В объем проектов входят планировки, оснастка,
              гидро- и пневмопривод, средства контроля статических и
              динамических параметров техпроцессов, адаптивные системы
              управления на базе средств Сименс и других мировых производителей,
              технико экономические обоснования и расчет оборотных средств;
              составление шихты в литейном производстве и металлургия вторичных
              сплавов из отходов собственного производства и металлолома;
            </p>
          </li>
          <li>
            <p>
              <span class="li-bold-titles"
                >Обучение рабочих и инженерных кадров</span
              >
              в режиме наладки и освоения производственных операций.
            </p>
          </li>
        </ul>
        <p class="p3">
          В объем пусконаладочных работ входят показатели качества литья. В
          условиях повседневной работы оказывается помощь по устранению брака
          литья, доработки технологии, запасных узлов и деталей,комплектации
          гидро- и пневмоаппаратуры, гидравлических и высокотемпературных
          уплотнений. <br /><br />При этом выполняются работы по использованию
          физических и химических процессов с целью повышения прочности,
          коррозионной стойкости, и герметичности литейных сплавов с
          использованием вакуумирования, модифицирования и рафинирования.
        </p>
      </div>

      <footer>
        <div class="footer-line"></div>
        <p class="footer-text">
          Copyright © 2024 Специальные Способы Литья Черных и цветных сплавов.
          Все права защищены.
        </p>
      </footer>
    </div>
  </body>
</html>
